:root {
  --primary: #cd6b10;
  --secondary: #2b3452;

}

#root {
  /* background-color: var(--secondary); */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  /* margin: 40px; */
}

body {
  font-family: "Poppins";
  background: var(--secondary);
}

* {
  /* background-color: var(--secondary); */
  color: #000;
  margin: 0;
}

.root-layout {
  padding: 20px;
}

.data-overlay-container{
  display: flex;
  flex-direction: column;
}

/* navbar */
.global-nav-bar {
  display: flex;
  gap: 16px;
  margin: 20px 20px;
  margin-bottom: 1em;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid var(--primary);
}

.global-nav-bar h1 {
  margin-right: auto;

}

.global-nav-bar a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;

}

.global-nav-bar a.active {
  background: var(--primary);
  color: #fff;
}

/* page content */
main {
  margin: 40px auto;

}


.heatLoss-nav-bar {
  padding: 40px;

}

.heatLoss-nav-bar a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
  background: grey;
  padding: 6px;
  border-radius: 4px;
  margin: 10px;
}

.heatLoss-nav-bar a.active {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  background: var(--primary);
  /* background: var(--primary); */
}

.heat-loss-layout {
  min-height: 100%;
  padding-left: 20px;
}

.heat-loss-layout table {
  min-height: 100%;
  padding-left: 20px;
}

/* footer */
footer {
  display: flex;
  justify-content: center;
}

footer a {
  display: inline-block;
  justify-content: center;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;

}

/* footer a:hover {
  background: #0d6efd;
} */

footer p {
  display: inline-block;
  justify-content: center;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

.create-project-error{
  color: red;
  justify-content: flex-end;
}

.project-input-in-table {
  display: none;

}

.fa-pen-to-square{
  color: yellow;
}

.projects-table {
  display: flex;
  flex-direction: column; 
}

.projects-table tr {
  display: flex; 
  padding: 5px;
}
.projects-table-headers {
  border-bottom: 2px solid #2b3452;
}



.project-table-create-row {
  display: flex;
  border-bottom: 1px solid #2b3452;
  
}

.create-project-cell-input{
  display: flex;
  width: 80%;
 
  margin-left: 10px;
}

.create-project-cell-icon{
  width: 20%;
}

.projects-table-data-row {
  display: flex;
  border-bottom: 1px solid #2b3452;
}

.projects-table-name-cell {
  display:flex;
  width: 80%;
  margin-left: 10px;
}
.projects-table-name-cell input{
  display:flex;
  width: 80%;
  display: none;
}

.projects-table-cell.edit{
  
  width: 10%;
}
.projects-table-cell.delete{
  
  width: 10%;
}


/* "svg-inline--fa fa-pen-to-square project-update-icon" */